/* aleo-regular - latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/aleo-v11-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-italic - latin */
@font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/aleo-v11-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/aleo-v11-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700 - latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/aleo-v11-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/aleo-v11-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* magra-regular - latin */
@font-face {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/magra-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/magra-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* magra-700 - latin */
@font-face {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/magra-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/magra-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-regular - latin */
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-500 - latin */
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/red-hat-text-v11-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
}
*, *::before, *::after{
    box-sizing: inherit;
}
/*header styles start*/
.header{
    background-color: rgba(242, 120, 92, 0.7);
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 24px 0;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.header-item{
    margin-right: 42px;
    list-style: none;
    padding: 0;
}
.header-item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.header_link:hover, 
.header_link:focus, 
.header_link:active {
    opacity: 0.5;
}
.header_login{
    padding: 10px 30px;
    background-color: #0D606F;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);;
}
.header_loginlink{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
/* header styles end*/
/*preview styles start*/

.preview{
    height: 100vh;
    background: url(../img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg) no-repeat center;
    background-size: cover;
}